*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Font style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 34px;  
}


.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  
}

header{
  height:800px;
  background-image: url(../images/Hero-bg.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  }


/* nav style */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;

}
nav a{
  text-decoration: none;
  
  
}

.logo-text{
  color: #FF6B6B;
}
.btn-primary{
  background-color: #4E47FF;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  width: 132px;
  height: 48px;
  color: #FFFFFF; 
}
.btn-primary a{
  color: #FFFFFF; 
}

.btn-primary-2{
  background-color: #4E47FF;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  width: 132px;
  height: 48px;
  color: #FFFFFF;
  margin-top: 40px; 
}

.btn-primary-2:hover {
  background-color: #FF6B6B;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #FF6B6B;
  cursor: pointer;
}

.banner{
  text-align: center;
  padding: 309px 267px;
}

.action{
  display: flex;
  justify-content: space-around;
 
}

.action-title{
  font-size: 42px;
 
}




